<h1>Listing users</h1>

<div class="user-info">
  <div class="user-photo">
    <%= image_tag @user.photo %>
    <div class="user-description">
    <h1><%= @user.name %></h1>
    <p>number of posts: <%= @user.posts.count %></p>
  </div>
</div>

<div class="bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<div class="user-posts">
  <% @user.posts.each do |post| %>
    <div class="one-post">
      <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
        <div class="post-text">
        <p><%= post.title %></p>
          <p><%= post.text %></p>
        </div>
        <div class="post-info">
          <span>comments: <%= post.comments.count %>, likes: <%= post.likes.count %> </span>
        </div>
      </a>
    </div>
  <% end %>
  <a href="<%=@user.id%>/posts/" class="button">See all posts</a>
</div>
</div>

