<h1>Listing posts</h1>

<div class="posts-container">
  <div class="username-holder">
    <img src="<%= @user.photo %>" alt="user photo">
    <div class="user-detail">
      <h1><%= @user.name %></h1>
      <p>Number of posts: <%= @user.posts.count %></p>
    </div>
  </div>

  <div class="posts">
    <% @posts.includes(comments:[:author]).each do |post| %>
      <div class="one-comment">
        <%= link_to user_post_path(@user, post.id) do %>
          <h2><%= post.title %></h2>
          <p><%= post.text %></p>
          <div class="comments-likes">
            <span>comments: <%= post.comments_counter %>,</span>
            <span>likes: <%= post.likes_counter %></span>
          </div>
          <div class="comments-container">
            <% post.recent_comment_count.each do |comment| %>
              <div class="single-comment">
                <span><%= comment.author.name %>  : <%= comment.text %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    # <%= link_to "See all posts", user_posts_path(@user) %>
  </div>
</div>
